# Global ownership
* @isolomatov-gd

# Docs site
docs/web/** @omaiesh

# Granular code ownership
/instructions/ @ElizaVetaFomka @scappuccino-grid @YevheniiaLementova
/docs/ @ElizaVetaFomka @scappuccino-grid @YevheniiaLementova
/plans/ @ElizaVetaFomka @scappuccino-grid @YevheniiaLementova
/*.md @ElizaVetaFomka @scappuccino-grid @YevheniiaLementova

.github/ @kkhristenko51 @omaiesh
/tools @kkhristenko51 @omaiesh
/ims-mcp-server @kkhristenko51 @omaiesh
/deployment @kkhristenko51 @omaiesh
